.no-bg-accordion .mantine-Accordion-item[data-active] {
    background-color: transparent !important;
}

div:has(> #_pages_content) {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
}

#_pages_content {
    height: 100% !important;
    flex: 1 !important;
}

#_pages_dummy {
    height: 0 !important;
    flex: 0 !important;
    display: none !important;
}